<div class="container">
  <div class="events-list">
    <div class="events-list-item" [ngClass]="{'active': selectedItem == item}"
         *ngFor="let event of events; let item = index" data-target="modal"
         (click)="onEventClicked(event); onChangeSelectedItemColor($event, item)">
      <span>{{event.name}}</span>
    </div>
  </div>
  <div *ngIf="events.length === 0" class="empty-list-label">List</div>
</div>
<div class="row" *ngIf="event">
  <div class="col-12">
    <div class="create-event">
      <div class="content">
        <h1 class="category-header alert alert-dark" role="alert">Date</h1>
        <div class="alert alert-danger" role="alert" >
          <h5  [disabled]="edit" [(ngModel)]=event.date>{{event.date}}</h5>
        </div>
        <h1 class="category-header alert alert-dark" role="alert">Description</h1>
        <div class="main">
          <textarea [disabled]="edit" [(ngModel)]=event.description>{{event.description}}</textarea>
        </div>
        <button [disabled]="!edit" class="btn btn-primary events-list-button" data-toggle="modal"
                data-target="#joinToEvent" (click)="deleteEvent">delete
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteevent" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="event">
      <div class="modal-header">
        <h4 class="modal-title">Delete event?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="internal-text">event <h2>{{event.name}}</h2> will be deleted !!!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteSelectedEvent()">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
